examples/lsh-logic-example.json
[{"id":"350413955d651939","type":"inject","z":"1e10f095090cde75","name":"Subscribe After Delay","props":[{"p":"action","v":"","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","x":460,"y":360,"wires":[["2d68dc8eb8b7385e"]]},{"id":"0bc9c6a2e40b132f","type":"mqtt in","z":"1e10f095090cde75","name":"Dynamic LSH Device Listener","topic":"","qos":"2","datatype":"auto-detect","broker":"82ad18b3.0b1ee8","nl":false,"rap":true,"rh":0,"inputs":1,"x":940,"y":360,"wires":[["ad7a22f3ed2af70d"]]},{"id":"f8bbd1642632c18a","type":"debug","z":"1e10f095090cde75","name":"[LSH CMDS]","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":300,"wires":[]},{"id":"4896f69721b1a46c","type":"debug","z":"1e10f095090cde75","name":"[ALERTS]","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1340,"y":380,"wires":[]},{"id":"36056e6c89bf4cd9","type":"debug","z":"1e10f095090cde75","name":"[DEBUG]","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1340,"y":420,"wires":[]},{"id":"2d68dc8eb8b7385e","type":"change","z":"1e10f095090cde75","name":"Build Subscribe Msg","rules":[{"t":"set","p":"action","pt":"msg","to":"subscribe","tot":"str"},{"t":"set","p":"qos","pt":"msg","to":"2","tot":"num"},{"t":"set","p":"topic","pt":"msg","to":"lsh_topics.all","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":360,"wires":[["0bc9c6a2e40b132f"]]},{"id":"a0e2775eb8582c5f","type":"inject","z":"1e10f095090cde75","name":"Unsubscribe All","props":[{"p":"action","v":"unsubscribe","vt":"str"},{"p":"topic","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":660,"y":400,"wires":[["0bc9c6a2e40b132f"]]},{"id":"fe108ed957673706","type":"debug","z":"1e10f095090cde75","name":"[Other actors CMDS]","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1380,"y":340,"wires":[]},{"id":"ad7a22f3ed2af70d","type":"lsh-logic","z":"1e10f095090cde75","name":"","homieBasePath":"homie/","lshBasePath":"LSH/","serviceTopic":"LSH/Node-RED/SRV","otherDevicesPrefix":"other_devices","longClickConfigPath":"configs/longClickConfig.json","exposeStateContext":"none","exposeStateKey":"lsh_state","exportTopics":"flow","exportTopicsKey":"lsh_topics","exposeConfigContext":"none","exposeConfigKey":"lsh_config","otherActorsContext":"global","clickTimeout":5,"clickCleanupInterval":30,"watchdogInterval":120,"interrogateThreshold":180,"pingTimeout":150,"x":1150,"y":360,"wires":[["f8bbd1642632c18a"],["fe108ed957673706"],["4896f69721b1a46c"],["36056e6c89bf4cd9"]]},{"id":"82ad18b3.0b1ee8","type":"mqtt-broker","name":"","broker":"mosquitto","port":"1883","clientid":"Node-RED","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"LSH/Node-RED/status","birthQos":"2","birthRetain":"true","birthPayload":"ready","birthMsg":{},"closeTopic":"LSH/Node-RED/status","closeQos":"2","closeRetain":"true","closePayload":"lost","closeMsg":{},"willTopic":"LSH/Node-RED/status","willQos":"2","willRetain":"true","willPayload":"lost","willMsg":{},"userProps":"","sessionExpiry":""}]