examples/lsh-external-state.json
[
  {
    "id": "bcd1d1475387601d",
    "type": "lsh-external-state",
    "z": "1e10f095090cde75",
    "name": "",
    "storeContext": "flow",
    "prefixSource": "config",
    "prefix": "other_devices",
    "configContext": "flow",
    "configKey": "lsh_config",
    "actorNameSource": "msg",
    "actorName": "",
    "actorNameProperty": "topic",
    "stateProperty": "payload.state",
    "trueValues": "1,true,on,yes,open,active",
    "falseValues": "0,false,off,no,closed,inactive",
    "caseSensitive": false,
    "invert": false,
    "acceptRetained": "true",
    "storeOnlyChanges": true,
    "storeMetadata": true,
    "configWaitTimeoutMs": 5000,
    "x": 570,
    "y": 640,
    "wires": [["0d4779fd6ca6cd42"]]
  },
  {
    "id": "0d4779fd6ca6cd42",
    "type": "debug",
    "z": "1e10f095090cde75",
    "name": "Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 750,
    "y": 640,
    "wires": []
  },
  {
    "id": "0fe31fa5282460b1",
    "type": "mqtt in",
    "z": "1e10f095090cde75",
    "name": "Yeelight Bedside",
    "topic": "esphome/bedside-lamp/light/rgbww_light/state",
    "qos": "1",
    "datatype": "json",
    "broker": "82ad18b3.0b1ee8",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 600,
    "wires": [["1c6732b251f9429b"]]
  },
  {
    "id": "1c6732b251f9429b",
    "type": "change",
    "z": "1e10f095090cde75",
    "name": "yeelightBedside",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "yeelightBedside",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 340,
    "y": 600,
    "wires": [["bcd1d1475387601d"]]
  },
  {
    "id": "586a3b864bd0c74b",
    "type": "mqtt in",
    "z": "1e10f095090cde75",
    "name": "Xiaomi bathroom",
    "topic": "esphome/xiaomi-bathroom/light/xiaomi_bathroom/state",
    "qos": "1",
    "datatype": "json",
    "broker": "82ad18b3.0b1ee8",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 680,
    "wires": [["29eeb21243cbe1e8"]]
  },
  {
    "id": "29eeb21243cbe1e8",
    "type": "change",
    "z": "1e10f095090cde75",
    "name": "xiaomiBathroom",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "xiaomiBathroom",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 340,
    "y": 680,
    "wires": [["bcd1d1475387601d"]]
  },
  {
    "id": "82ad18b3.0b1ee8",
    "type": "mqtt-broker",
    "name": "",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "Node-RED",
    "autoConnect": true,
    "usetls": false,
    "compatmode": false,
    "protocolVersion": "5",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "LSH/Node-RED/status",
    "birthQos": "2",
    "birthRetain": "true",
    "birthPayload": "ready",
    "birthMsg": {},
    "closeTopic": "LSH/Node-RED/status",
    "closeQos": "2",
    "closeRetain": "true",
    "closePayload": "lost",
    "closeMsg": {},
    "willTopic": "LSH/Node-RED/status",
    "willQos": "2",
    "willRetain": "true",
    "willPayload": "lost",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "f206d857ddfab148",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-contrib-lsh-logic": "3.1.11"
    }
  }
]
