examples/lsh-actuator-sync.json
[
  {
    "id": "2cf66bb5367fbf98",
    "type": "lsh-actuator-sync",
    "z": "1e10f095090cde75",
    "name": "",
    "stateContext": "flow",
    "stateKey": "lsh_state",
    "configContext": "flow",
    "configKey": "lsh_config",
    "desiredStateProperty": "payload.ison",
    "deviceIdProperty": "deviceId",
    "actuatorIdProperty": "actuatorId",
    "qos": "2",
    "allowedDirection": "both",
    "ignoreRetained": "true",
    "requireKnownState": true,
    "commandCooldownMs": "100",
    "stateWaitTimeoutMs": 5000,
    "x": 650,
    "y": 420,
    "wires": [["d898e86d7aad2b91"]]
  },
  {
    "id": "d898e86d7aad2b91",
    "type": "mqtt out",
    "z": "1e10f095090cde75",
    "name": "MQTT Out",
    "topic": "",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "82ad18b3.0b1ee8",
    "x": 850,
    "y": 420,
    "wires": []
  },
  {
    "id": "6529aa7c7a48f055",
    "type": "mqtt in",
    "z": "1e10f095090cde75",
    "name": "Shelly Kitchen",
    "topic": "shellies/kitchen/white/0/status",
    "qos": "1",
    "datatype": "json",
    "broker": "82ad18b3.0b1ee8",
    "nl": false,
    "rap": true,
    "rh": "0",
    "inputs": 0,
    "x": 130,
    "y": 360,
    "wires": [["b2b11a3bf022a89e"]]
  },
  {
    "id": "b2b11a3bf022a89e",
    "type": "change",
    "z": "1e10f095090cde75",
    "name": "device1_2",
    "rules": [
      {
        "t": "set",
        "p": "deviceId",
        "pt": "msg",
        "to": "device1",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "actuatorId",
        "pt": "msg",
        "to": "2",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 310,
    "y": 360,
    "wires": [["cca0c6d8d872a484"]]
  },
  {
    "id": "8f5bdb692e0b7e5f",
    "type": "mqtt in",
    "z": "1e10f095090cde75",
    "name": "Shelly bedroom",
    "topic": "shellies/bedroom/white/0/status",
    "qos": "1",
    "datatype": "json",
    "broker": "82ad18b3.0b1ee8",
    "nl": false,
    "rap": true,
    "rh": "0",
    "inputs": 0,
    "x": 140,
    "y": 420,
    "wires": [["69aab543f54f11dd"]]
  },
  {
    "id": "69aab543f54f11dd",
    "type": "change",
    "z": "1e10f095090cde75",
    "name": "device1_7",
    "rules": [
      {
        "t": "set",
        "p": "deviceId",
        "pt": "msg",
        "to": "device1",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "actuatorId",
        "pt": "msg",
        "to": "7",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 310,
    "y": 420,
    "wires": [["cca0c6d8d872a484"]]
  },
  {
    "id": "790cdd68c78a166b",
    "type": "mqtt in",
    "z": "1e10f095090cde75",
    "name": "Shelly garage",
    "topic": "shellies/garage/white/0/status",
    "qos": "1",
    "datatype": "json",
    "broker": "82ad18b3.0b1ee8",
    "nl": false,
    "rap": true,
    "rh": "0",
    "inputs": 0,
    "x": 130,
    "y": 480,
    "wires": [["9ad604a0e3d5bf91"]]
  },
  {
    "id": "9ad604a0e3d5bf91",
    "type": "change",
    "z": "1e10f095090cde75",
    "name": "device2_5",
    "rules": [
      {
        "t": "set",
        "p": "deviceId",
        "pt": "msg",
        "to": "device2",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "actuatorId",
        "pt": "msg",
        "to": "5",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 310,
    "y": 480,
    "wires": [["cca0c6d8d872a484"]]
  },
  {
    "id": "cca0c6d8d872a484",
    "type": "rbe",
    "z": "1e10f095090cde75",
    "name": "",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "septopics": true,
    "property": "payload.ison",
    "topi": "topic",
    "x": 490,
    "y": 420,
    "wires": [["2cf66bb5367fbf98"]]
  },
  {
    "id": "82ad18b3.0b1ee8",
    "type": "mqtt-broker",
    "name": "",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "Node-RED",
    "autoConnect": true,
    "usetls": false,
    "compatmode": false,
    "protocolVersion": "5",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "LSH/Node-RED/status",
    "birthQos": "2",
    "birthRetain": "true",
    "birthPayload": "ready",
    "birthMsg": {},
    "closeTopic": "LSH/Node-RED/status",
    "closeQos": "2",
    "closeRetain": "true",
    "closePayload": "lost",
    "closeMsg": {},
    "willTopic": "LSH/Node-RED/status",
    "willQos": "2",
    "willRetain": "true",
    "willPayload": "lost",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "49a655320e8d05e8",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-contrib-lsh-logic": "3.1.11"
    }
  }
]
